<%@ page language="java" contentType="text/html; charset=UTF-8" pageEncoding="UTF-8"%>
   </div>
        </div>
    </div>

    <!-- //container -->
    <footer id="footer">
        <div class="static">
            <address>(우)35238 대전광역시 서구 둔산서로 100(둔산동)</address><span class="tel">대표전화 : 042)288-2114/ 팩스 : 042)288-5900</span>
            <span class="copy">Copyright (C) 2014 Seo-gu Office. All rights reserved.</span>
        </div>       
    </footer>
</div>    
</body>
</html>