<%@ page language="java" contentType="text/html; charset=UTF-8" pageEncoding="UTF-8"%>
<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core"%>
	<%@ taglib prefix="fn" uri="http://java.sun.com/jsp/jstl/functions"%>
	
	<!-- UI Definition -->
	<!--  CSS -->
	<link rel="stylesheet" href="/common/css/jquery-ui.css">
    <link rel="stylesheet" href="/common/css/style.css">
	
	<!-- jQuery -->
	<script src="/common/js/jquery-3.2.1.min.js"></script>
    <script src="/common/js/jquery-ui.js"></script>
    <script src="/common/js/common.js"></script>
	
	<!-- Biz Process -->
	<script src="/js/custom.js"></script>
	<script src="/js/jquery.fileDownload.js"></script>
	
</head>
	<title>대전시 관리자</title>
<body>
	<p id="accessibility"><a href="#container">본문바로가기</a></p>
	<div id="wrap">
		<header id="header">
        <div class="static">
            <h1>
            	<a id="workHome" href="javaScript:void(0);">대전시</a>
            	<a href="javascript:void(0);" class="btn-logout" onclick="fn_openLayerPop('logOut') ; return false ;">로그아웃</a>
            </h1>
            <div class="nav">               
               <ul class="gnb"></ul>
               <a href="/visual/population1-1.do" class="btn-md indigo">분석시각화</a> 
            </div>
        </div>
        
        <%	
	        /* Session KEY */
			String sSessionKeyUserId = "" ;
        	String sPageAthrCd = "" ;
        	String sRwAthrCd = "" ;
        	
			/* Session 정보 가져오기 */
			sSessionKeyUserId = (String) session.getAttribute("sessionKeyUserId");
			sPageAthrCd = (String) session.getAttribute("page_athr_cd");
			sRwAthrCd = (String) session.getAttribute("rw_athr_cd");
	
			if( sSessionKeyUserId == null ) {
				sSessionKeyUserId = "";
				sPageAthrCd = "";
				sRwAthrCd = "";
			}
		
			String url = request.getAttribute("javax.servlet.forward.request_uri").toString();
        %>
        
        <script type="text/javascript">
        	"use strict" ;
        	
        	$(document).ready(function(){
        		
        		/* Use Log Function 호출 */
        		/* 사용자 권한 Check Function 호출 */
        		if ("<%= sSessionKeyUserId %>" != "") {
        			/* 사용자 권한 Check Function 호출 */
            		fn_usrAthr() ;
        			
        			/* Use Log Insert */
        			fn_writeUserLog() ;	
        		} else {
        			// 비로그인 시 처리
        			fn_openLayerPop("needLogin") ;
        		}
        		
        	});
        	
        	/* User Log 생성 */
        	function fn_writeUserLog() {
            	const comAjax = new ComAjax();
        		
        		comAjax.setUrl("<c:url value='/proc-write-userlog.do'/>");
        		comAjax.addParam("menu_id", "<%= url %>");
        		
        		comAjax.setCallback("fn_writeUserLogCallback");
        		
        		comAjax.ajax();
        	}
        	
        	/* fn_writeUserLog Callback Function */
        	function fn_writeUserLogCallback() {}
        	
        	/* 사용자 권한 Check */
        	function fn_usrAthr() {
				const comAjax = new ComAjax();
        		comAjax.setUrl("<c:url value='/select-menu-arth.do'/>");
        		comAjax.addParam("menu_url", "<%= url %>");
        		
        		comAjax.setCallback("fn_usrAthrCallback");
        		
        		comAjax.ajax();
        		
        	}
        	
        	/* 사용자 권한 Check Callback Function */
        	function fn_usrAthrCallback(data) {
        		const sUserWorkAthr = "<%= sPageAthrCd %>" ;
        		const sUserRWAthr = "<%= sRwAthrCd %>" ;
        		const sWorkAthr = data.map.work_dscd ;
        		const sRwAthr = data.map.rw_dscd ;
        		const sGnbNm  = data.map.gnb_nm ;
        		
        		/* 업무구분 권한 Check */
        		if (sUserWorkAthr != "ADMIN" && sWorkAthr != sUserWorkAthr ) {
        			fn_openLayerPop("noAthr") ;
        		}
        		
        		/* 읽기쓰기 권한 Check. Login 사용자의 권한이 읽기전용(RO)인 경우에만 Check */
        		if (sUserRWAthr == "RO" && sRwAthr != sUserRWAthr ) {
        			fn_openLayerPop("noAthr") ;
        		}
        		
        		/* home button 처리 */
        		switch (sUserWorkAthr) {
        		case "STKRS":
        			$("#workHome").attr("href", "/lvst/main.do") ;
        			break ;
        		case "FARMNG":
        			$("#workHome").attr("href", "/farm/list.do") ;
        			break ;
        		case "MDCL":
        			$("#workHome").attr("href", "/mdcl/main.do");
        			break;
        		case "ADMIN":
        			$("#workHome").attr("href", "/login-sadm.do") ;
        		default :
        			break ;
        		}
        		
        		/* GNB 처리
        		   url에 farm 포함 시 농업
        		   미포함 시 축산
        		   의료 개발 시 수정 필요
        		*/
        		let sGnbStr = ""  ;
        		let tagGnb = $("div").children('.gnb');
        		tagGnb.empty();
        		
        		const sUrl = "<%= url %>" ;
        		
        		if (sUrl.indexOf("farm") != -1) {
        			sGnbStr = `<li id="farm"><a href="/farm/list.do"><span>농가현황</span></a></li>` ;
        		} else if(sUrl.indexOf("mdcl") != -1 || sUrl.indexOf("medicals") != -1 || sUrl.indexOf("medcin") != -1){
        			sGnbStr = `<li id="medicalsAppeal"><a href="/medicals/appeal/list.do"><span>의료민원</span></a></li>
                        <li id="medicalsLedger"><a href="/medicals/ledger/list.do"><span>업무일지</span></a></li>
                        <li id="medcinUsgqty"><a href="/medcin/usgqty/list.do"><span>약품사용량</span></a></li>
                        <li id="medicalsInfection"><a href="/medicals/infection/list.do"><span>의료감염병발생</span></a></li>
                        <li id="medicalsService"><a href="/medicals/service/list.do"><span>의료서비스현황</span></a></li>` ;
        		} else {	        
        		        sGnbStr = `<li id="disinfectionAppeal"><a href="/disinfection/appeal/list.do"><span>방역민원관리</span></a></li>
                        <li id="disinfectionLedger"><a href="/disinfection/ledger/list.do"><span>방역업무일지</span></a></li>
                        <li id="infectionOutbreak"><a href="/infection/outbreak/list.do"><span>감염발생현황</span></a></li>
                        <li id="livestockStatus"><a href="/livestock/status/list.do"><span>축산현황</span></a></li>
                        <li id="goods"><a href="/goods/list.do"><span>물품관리</span></a></li>` ;
        		} 
        		
        		/*
        		if ($('a#workHome').attr('href').indexOf("farm")  != -1 ) {
        			sGnbStr = `<li id="farm"><a href="/farm/list.do"><span>농가현황</span></a></li>` ;
        		} else if($('a#workHome').attr('href').indexOf("lvst") != -1) {	        
        		    sGnbStr = `<li id="disinfectionAppeal"><a href="/disinfection/appeal/list.do"><span>방역민원관리</span></a></li>
                        <li id="disinfectionLedger"><a href="/disinfection/ledger/list.do"><span>방역업무일지</span></a></li>
                        <li id="infectionOutbreak"><a href="/infection/outbreak/list.do"><span>감염발생현황</span></a></li>
                        <li id="livestockStatus"><a href="/livestock/status/list.do"><span>축산현황</span></a></li>
                        <li id="goods"><a href="/goods/list.do"><span>물품관리</span></a></li>` ;
        		} else if($('a#workHome').attr('href').indexOf("mdcl") != -1){
        			sGnbStr = `<li id="medicalsAppeal"><a href="/medicals/appeal/list.do"><span>의료민원</span></a></li>
                        <li id="medicalsLedger"><a href="/medicals/ledger/list.do"><span>업무일지</span></a></li>
                        <li id="medcinUsgqty"><a href="/medcin/usgqty/list.do"><span>약품사용량</span></a></li>
                        <li id="medicalsInfection"><a href="/medicals/infection/list.do"><span>의료감염병발생</span></a></li>
                        <li id="medicalsService"><a href="/medicals/service/list.do"><span>의료서비스현황</span></a></li>` ;
        		}
        		*/
        		tagGnb.append(sGnbStr) ;
        		
        		/* GNB 선택 Class 처리 */
        		$('.gnb li.on').removeClass('on');
        		$("#"+sGnbNm).addClass("on") ;
        		
        	}
        	
        	// Popup 호출
        	function fn_openLayerPop(pType) {
        		switch(pType) {
        		case "noAthr":
        			$('#noAthr').show();
        			break ;
        		case "needLogin":
        			$('#needLogin').show();
        			break ;
        		case "logOut":
        			$("#btnCancel").show() ;
        			$('#logOut').show();
        			break ;
        		default:
        			break ;
        		}
        		
        	}
        	
        	// Layer Popup에서 확인 버튼 Click 시 이전 화면으로 이동
        	function fn_closeLayerPop(pType) {
        		switch(pType) {
        		case "logOut":
        			location.href = "/login/proc-logout.do" ;
        			break ;
        		case "needLogin":
        			location.href ="/login.do" ;
        			break ;
        		case "noAthr":
        			history.back() ;
        			break ;
        		case "cancelLogout":
        			$('#logOut').hide();
        			break ;
        		default:
        			break ;
        		}
        	}
        	
        </script>
        
    </header>
    
    <!-- 권한 없음 -->
    <div class="layer-pop" id="noAthr">
    	<div class="alert-pop">
    		<div class="alert-pop-head"></div>
    		<div class="alert-pop-body">
    			<div class="msg">
    				<strong>권한이 없습니다.</strong>
    				<p>다시 확인하여 주시기 바랍니다.</p>
        		</div>
        		<div class="btm">
        			<div class="btm-btns"><button type="button" class="btn-md black" onclick="fn_closeLayerPop('noAthr') ; return false ;">확인</button></div>
        		</div>
        	</div>
        </div>
	</div>
	
	<!-- 로그인 필요 -->
    <div class="layer-pop" id="needLogin">
    	<div class="alert-pop">
    		<div class="alert-pop-head"></div>
    		<div class="alert-pop-body">
    			<div class="msg">
    				<strong class="tx2">로그인이 필요합니다.</strong>
        		</div>
        		<div class="btm">
        			<div class="btm-btns"><button type="button" class="btn-md black" onclick="fn_closeLayerPop('needLogin') ; return false ;">확인</button></div>
        		</div>
        	</div>
        </div>
	</div>
	
	<!-- 로그아웃  -->
    <div class="layer-pop" id="logOut">
    	<div class="alert-pop">
    		<div class="alert-pop-head"></div>
    		<div class="alert-pop-body">
    			<div class="msg">
    				<strong class="tx2">로그아웃 하시겠습니까?</strong>
        		</div>
        		<div class="btm">
        			<div class="btm-btns">
        				<button type="button" class="btn-md btn-cancel" onclick="fn_closeLayerPop('cancelLogout');">취소</button>
        				<button type="button" class="btn-md black" onclick="fn_closeLayerPop('logOut') ; return false ;">확인</button>
        			</div>
        		</div>
        	</div>
        </div>
	</div>
    
    <div id="container">
       <div class="contents">