<%@ page language="java" contentType="text/html; charset=UTF-8" pageEncoding="UTF-8"%>
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>대전광역시서구 시각화 시스템</title>
    <link rel="stylesheet" href="../../visual/common/css/style.css">
    <script src="../visual/common/js/jquery-3.2.1.min.js"></script>
    <script src="../visual/common/js/common.js"></script>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core"%>
	<%@ taglib prefix="fn" uri="http://java.sun.com/jsp/jstl/functions"%>
	<%@ taglib prefix="fmt" uri="http://java.sun.com/jsp/jstl/fmt" %>
	<script src="/js/custom.js"></script>
</head>
<script>
var regexp = /\B(?=(\d{3})+(?!\d))/g;
</script>
<%	
	        /* Session KEY */
			String sSessionKeyUserId = "" ;
        	String sPageAthrCd = "" ;
        	String sRwAthrCd = "" ;
        	
			/* Session 정보 가져오기 */
			sSessionKeyUserId = (String) session.getAttribute("sessionKeyUserId");
			sPageAthrCd = (String) session.getAttribute("page_athr_cd");
			sRwAthrCd = (String) session.getAttribute("rw_athr_cd");
	
			if( sSessionKeyUserId == null ) {
				sSessionKeyUserId = "";
				sPageAthrCd = "";
				sRwAthrCd = "";
			}
		
			String url = request.getAttribute("javax.servlet.forward.request_uri").toString();
        %>
<body>
<p id="accessibility"><a href="#container">본문바로가기</a></p>   
<div id="wrap">
    <header id="header">
        <div class="header-top">
            <div class="static">
                <h1><a href="/">대전광역시 서구</a><span class="tit">시각화 시스템</span></h1>
                <h2><a></a></h2>
            </div>   
        </div>
        <div class="header-gnb">
            <div class="static">
                <ul class="gnb">
                </ul>
            </div>
        </div>   
    </header>
    
    <div id="container">
        <div class="static">
            <nav>
               <ul class="lnb">
               </ul>
            </nav>
           
    <script type="text/javascript">
        	"use strict" ;
        	
		$(document).ready(function(){
        		
        		/* Use Log Function 호출 */
        		/* 사용자 권한 Check Function 호출 */
        		if ("<%= sSessionKeyUserId %>" != "") {
        		}
        	});
        	
			function fn_usrAthr() {
				const comAjax = new ComAjax();
        		comAjax.setUrl("<c:url value='/select-menu-arth.do'/>");
        		comAjax.addParam("menu_url", "<%= url %>");
        		
        		comAjax.setCallback("fn_usrAthrCallback");
        		comAjax.ajax();
        		
        	}
			
        	let sGnbStr = ""  ;
        	let sLnbStr = ""  ;
    		let tagGnb = $("div").children('.gnb');
    		let tagLnb = $(".static>nav").children('.lnb');
    		tagGnb.empty();
    		tagLnb.empty();
    		const sUrl = "<%= url %>" ;
    			sGnbStr = `<li class="on"><a></a></li>` ;
    			sLnbStr = `
    				<li>
	                    <ul>
	                        <li id="complaint"><a href="/visual/traffic.do">교통/주차 관련 민원 분석 현황</a></li>
	                    </ul>
	                </li>
	                <li>
	                    <ul>
	                        <li id="trafficaccident"><a href="/visual/accident.do">교통사고 원인 및 현황</a></li>
	                    </ul>
	                </li>
	                <li>
	                    <ul>
	                        <li id="fireplug"><a href="/visual/fireplug.do">소화전 주변 불법 주차 단속 현황</a></li>
	                    </ul>
	                </li>
	                <li>
	                    <ul>
	                        <li id="fine"><a href="/visual/fine.do">교통 과태료 현황</a></li>
	                    </ul>
	                </li>
	                <li>
                    	<ul>
                      	  <li id="disabled"><a href="/visual/disabled.do">장애인 주차구역 불법주정차</a></li>
		                </ul>
		            </li>
		            <li>
		                <ul>
		                    <li id="workcctv"><a href="/visual/working.do">교통 보행환경 개선 및 CCTV현황</a></li>
		                </ul>
		            </li>
		            <li>
		                <ul>
		                    <li id="freight"><a href="/visual/nightpark.do">화물차량 및 무단방치차량 현황</a></li>
		                </ul>
		            </li>
		            <li>
		                <ul>
		                    <li id="population11-1"><img src="../visual/images/ata_banner.png" style="width:98%; cursor:pointer;" onclick="location.href='https://www.data.go.kr'" /><span>공개되는 데이터는 공공데이터 포털에서 다운로드 할 수 있습니다.</span></li>
		                </ul>
		            </li>` ;
    		
    		tagGnb.append(sGnbStr) ;
    		tagLnb.append(sLnbStr) ;
    		/* GNB 선택 Class 처리 */
    		var arr = sUrl.split('/')[2].split('.')[0];
    		if(arr == "traffic" || arr == "parking"){
    			$("#complaint").addClass("on");
    		}
    		else if(arr == "accident"){
    			$("#trafficaccident").addClass("on");
    		}
    		else if(arr == "fireplug"){
    			$("#fireplug").addClass("on");
    		}
    		else if(arr == "fine"){
    			$("#fine").addClass("on");
    		}
    		else if(arr == "disabled"){
    			$("#disabled").addClass("on");
    		}
    		else if(arr == "nightpark" || arr == "transit" || arr =="neglect"){
    			$("#freight").addClass("on");
    		}
    		else if(arr == "working" || arr == "cctvfirst"){
    			$("#workcctv").addClass("on");
    		}
    </script>
            <div class="contents">