@charset "utf-8";
@import "reset.css";
@import "font.css";

#wrap{height:100%;background: #f6f6f6;}
#header{position:relative;width:100%;height:120px}
#header .header-top{position:absolute;top:0;left:50%;margin-left:-700px;width:1400px;height:110px;z-index: 3}
#header .header-top h1{margin-top:30px;}
#header .header-top h1 img> #header .header-top h1 span{display:inline-block}
#header .header-top h1 span{font-size: 20px;font-weight: 700;margin-left:15px;vertical-align:middle;}
#header .header-bi{position: absolute;top:0;left:0;width:100%;height:184px;background:#f6f6f6}
#header .header-bi .bi{position:absolute;top:0;left:50%;width:1400px;margin-left:-700px;z-index: 2;}
#header .header-bi:before, #header .header-bi:after{content:'';display:block;position:absolute;top:110px;width:50%;height:10px;}
#header .header-bi:before{left:0;background:#0c4da2;}
#header .header-bi:after{right:0;background:#68c53d}
#footer{background:#f6f6f6;text-align: center;border-style: solid;border-image: linear-gradient(to right, #0c4da2 0%, #68c53d 100%);border-image-slice: 1; border-image-width: 1px 0 0 0;box-sizing: border-box;}
#footer .static{width:1400px;margin:0 auto;padding:100px 0 50px;color:#999;font-size:16px;font-weight: 200;}
#footer address{display: inline-block;}
#footer .tel{margin:0 50px}
.main{padding-top:64px;background:#f6f6f6 url(../../images/main-cont-bg.jpg) no-repeat 50% 0}
.main-section{width:1380px;margin:0 auto;padding:80px 10px}
.main-section ul{overflow: hidden;}
.main-section li{float:left;margin-left:20px;margin-bottom:20px;}
.main-section li:nth-child(5n+1){margin-left:0}
.main-section .ml-item{width:260px;height:360px;background:#fff;border:1px solid #dadada;box-sizing: border-box;text-align: center;}
.main-section .ml-item p{font-size:14px;line-height: 1.3;}
.main-section .ml-item .tit{display:flex;align-items: center;justify-content: center;height:50px;font-size:20px;font-weight:700;margin-bottom:10px;line-height: 1.1;}
.main-section .ml-item a{display: inline-block;margin-top:20px;padding:5px 14px;background: #66cc33;border-radius: 12px;font-size:14px;color:#fff;text-align: center;}